//menu

.header {
    display: flex;
    align-items: center;
    position: relative;
    height: 50px;
    margin-top: -8px;
}

.header-btn {
    width: 20px;
    height: 100%;
    background: transparent;
    margin-left: 20px;
    cursor: pointer;
}

.header-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.6rem;
}

.more-result {
    width: 223px;

    .menu-items {
        margin-left: 0px;
    }
}

.menu-popper {
    padding-bottom: 8px;
}

.menu-items {
    width: 100%;
    justify-content: flex-start;
    padding: 10px 8px 10px 16px;
    line-height: 2rem;
    border-radius: 0px;

    &:hover {
        background: rgba(22, 24, 35, 0.1);
        border-radius: 8px;
    }
    &.separate {
        border-top: 1px solid rgba(22, 24, 35, 0.12);
    }
}
