.menu-item {
    width: 240px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 700;
    transition: background-color 200ms ease-in-out;
    border-radius: 4px;
    color: rgb(22, 24, 35);

    &.active {
        color: var(--primary);
    }
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.title {
    font-size: 1.8rem;
    line-height: 2.4rem;
    margin-left: 8px;
}
