.wrapper {
    padding: 9px 16px;
    cursor: pointer;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.info {
    flex: 1;
}
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    object-fit: cover;
    margin-right: 12px;
}

.name {
    font-size: 16px;
    line-height: 21px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.icon {
    color: rgb(32, 213, 236);
    font-size: 1.4rem;
    margin-left: 4px;
}

.username {
    font-size: 14px;
    line-height: 18px;
    color: rgba(22, 24, 35, 0.5);
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
