.wrapper {
    --border-darius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-btn-width: 52px;
    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px;
    display: flex;
    justify-content: center;
}

.inner {
    width: var(--default-layout-width);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--default-layout-horizontal-spacer);
}

// button khi login/logout
.actions {
    display: flex;
    align-items: center;
}

.more-btn {
    font-size: 2rem;
    margin-left: 1.8rem;
    cursor: pointer;
    background: transparent;
    padding: 8px;
}

//user

.icon-action {
    margin-left: 16px;
    cursor: pointer;
    padding: 3px 3px 0px;
    margin-bottom: 2px;
    position: relative;
    font-size: 2rem;
    color: rgb(22, 24, 35);
    background: transparent;
    position: relative;
    & .sub-icon {
        position: absolute;
        color: #fff;
        font-family: TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        left: 16px;
        background: rgb(255, 59, 92);
        min-width: 20px;
        height: 20px;
        display: flex;
        top: -20%;
        padding: 0px 6px;
        border-radius: 20px;
    }
    .inbox-icon {
        top: -3px;
    }
}

.user-avt {
    width: 32px;
    height: 32px;
    border-radius: 50px;
    object-fit: cover;
    margin-left: 12px;
    cursor: pointer;
}
